name: Hourly AQI Data Ingestion

on:
  schedule:
    - cron: '0 * * * *'  
  workflow_dispatch:   

jobs:
  ingest_data:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run hourly ingestion pipeline
        env:
          OPENWEATHER_API_KEY: ${{ secrets.OPENWEATHER_API_KEY }}
          MONGO_URI: ${{ secrets.MONGO_URI }}
          MONGO_DB: ${{ secrets.MONGO_DB }}
          MONGO_COLLECTION: ${{ secrets.MONGO_COLLECTION }}
        run: |
          python -m pipelines.hourly_ingest_pipeline

      - name: Done
        run: echo "Hourly AQI ingestion completed."
